spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    hibernate:
      ddl-auto: update
  documentation:
    swagger:
      ui-url: "http://localhost:8080/swagger-ui/index.html"
      api-docs-url: "http://localhost:8080/v3/api-docs"